* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* .nav_item {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 22px;
    display: flex;
    align-items: center;
    letter-spacing: 1.1px;
    text-transform: uppercase;
    color: #4E4E4E;
} */