@import "./src/scss/variables";

@mixin font-400 {
    font-family: $font-family;
    font-weight: $fontW-m;
}

@mixin font-700 {
    font-family: $font-family;
    font-weight: $fontW-l;
}

@mixin nav-item {
    @include font-400;
    color: $color-title;
    font-size: $font-xs;
    text-transform: uppercase;
    line-height: $lineH-s;
    cursor: pointer;
    list-style-type: none;
    &:hover {
        color: #57A4A4;
    }
}

@mixin flex-center {
    display: flex;
    justify-content: center;
}

@mixin flex-sp-between {
    display: flex;
    justify-content: space-between;
}



