$color-bg-nav: #F5F5F5;
$color-title: #4E4E4E;
$color-item: #7C7C7C;
$color-content: #5C5C5C;
$color-bg-instagram: rgba(247, 247, 247, 1);
$color-bg-footer: #000000;
$color-footer: #B9B9B9;


$font-family: 'Roboto'; 
$font-xs: 11px;
$font-s: 12px;
$font-s-m: 13px;
$font-m: 14px;
$font-l: 16px;
$fontW-m: 400;
$fontW-l: 700;

$lineH-xs: 20px;
$lineH-s: 22px;
$lineH-s-m: 24px;
$lineH-m: 26px;
$lineH-l: 28px;
$lineH-xl: 30px;



