footer {
    background-color: $color-bg-footer;   
    padding-top: 66px;
    padding-bottom: 70px;
    @include flex-center;
    text-align: center;
}

.footer_title {
    text-align: center;
    color: #FEFEFE;
}

.footer_contenT {
    @include flex-center; 
    text-align: center;
}

.footer_content {
    width: 684px;
}

.footer_content_item1 {
    @include font-400; 
    font-size: $font-l;
    line-height: $lineH-m;
    color: $color-footer;
    text-align: center;
}

.footer_content_item2 {
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #b9b9b9;
}

.footer_logo {
    padding-top: 37px;
    padding-bottom: 34px;
    @include flex-center;
}

.footer_logo_content {
    width: 192px;
    @include flex-sp-between;
    & img {
        cursor: pointer;
    }
}

.footer_contact_item {
    @include font-400; 
    font-size: $font-l;
    font-style: normal;
    line-height: $lineH-m;
    color: $color-footer;
    width: 616px;
    display: flex;
    justify-content: space-around;
}

.footer_contact_item1 {
    display: none;
}

.footer_contact {
    @include flex-center;
}

@media (min-width: 768px) and (max-width: 1199px) {

    footer {
        padding-top: 57px;
        padding-bottom: 56px;
    }

    
}

@media (max-width: 767px) {

    footer {
        padding-top: 38px;
        padding-bottom: 47px;
    }

    .footer_content {
        font-size: $font-s;
        padding-bottom: 26px;  
    }

    .footer_contenT {
        width: 303px;
        height: 52px;
        text-align: center;
       
    }

    .footer_content_item2 {
        display: none;
    }

    .footer_contact_item {
        display: none;
    }

    .footer_contact_item1 {
        display: block;
        @include font-400;
        width: 235px;
        height: 63px;
        font-size: $font-m;
        font-style: normal;
        line-height: $lineH-s-m;
        color: $color-footer;
        text-align: center;
    }

}