header {
    @include flex-center;
}

.nav_menu {
    @include flex-sp-between;
    padding-left: 179px;
    padding-right: 178px;
    padding-top: 45px;
    padding-bottom: 51px;
}

.nav_item {
    @include nav-item;
}

.menu_button {
    display: none;
}

.menu_button_click {
    display: none;
}

.menu_button_cl {
    display: none;
}

@media (min-width: 768px) and (max-width: 1199px) {

    .header_img_content {
        width: 768px;
        height: 361px;
    }

    .nav {
        position: relative;
    }

    .nav_menu {
        display: none;
        flex-direction: column;
        width: 182px;
        height: 208px;
        background-color: $color-bg-nav;
        padding: 4.5px 0 0 13px;
        position: absolute;
        margin-left: 586px;
        top: 60px;
    }
    
    .menu_button {
        display: flex;
        justify-content: end;
    }

    .menu_button_item {
        background-color: $color-bg-footer;
        width: 44px;
        height: 37px;
        margin-top: 23px;
        margin-bottom: 23px;
        cursor: pointer;
    }

    .menu_button_click {
        justify-content: end;
        margin-top: 23px;
        margin-bottom: 23px;
        cursor: pointer;
        display: none;
    }
}

@media (max-width: 767px) {

    .nav_menu {
        display: none;
        flex-direction: column;
        width: 182px;
        height: 208px;
        background-color: $color-bg-nav;
        padding: 4.5px 0 0 13px;
        position: absolute;
        margin-left: 138px;
        top: 60px;
    }
    
    .menu_button {
        display: flex;
        justify-content: end;
    }

    .menu_button_item {
        background-color: $color-bg-footer;
        width: 44px;
        height: 37px;
        margin-top: 23px;
        margin-bottom: 23px;
        cursor: pointer;
    }

    .menu_button_click {
        justify-content: end;
        margin-top: 23px;
        margin-bottom: 23px;
        cursor: pointer;
        display: none;
    }

    .header_img_content {
        width: 320px;
        height: 150px;
    }
}    