.section_posts {
    padding-bottom: 69px;
    @include flex-center;
}

.posts_part1 {
    @include flex-sp-between;
    margin-bottom: 32px;
}

.post {
    width: 556px;
    height: 140px;
}

.post1 {
    margin-right: 55px;
}

.post_content {
    display: flex;
}

.post_content div img {
    margin-right: 20px;
    
}

h2 {
    @include font-700;
    font-size: $font-l;
    line-height: $lineH-xl;
    color: $color-title;
}

h3 {
    @include font-400;
    font-size: $font-s;
    line-height: $lineH-xs;
    color: $color-item;
}

p {
    @include font-400; 
    font-size: $font-m;
    line-height: $lineH-m;
    color: $color-content;
}

@media (min-width: 768px) and (max-width: 1199px) {

    .posts_part1 {
        display: block;
    }

    .posts_part2 {
        display: block;
    }

    .post1 {
        margin-bottom: 32px;
    }

    .post2 {
        margin-bottom: 32px;
    }
}

@media (max-width: 767px) {

    .section_posts {
        padding-bottom: 30.5px;
    }

    h3 {
        font-size: $font-xs;
        margin-bottom: 28.5px;
    }

    .post1 {
        margin-bottom: 28.5px;
    }

    .posts_part1 {
        display: block;
    }

    .posts_part2 {
        display: block;
    }

    .post_content {
        display: block;
        width: 262px;
        height: 196px;   
    }

    .post {
        width: 232px;
        height: 196px;
    }

    h2 {
        font-size: $font-m;
    }

    p, .post4 {
        display: none;
    }
}