.section_instagram {
    padding-top: 47px;
    background-color: $color-bg-instagram;
    padding-bottom: 49px;
}

@media (min-width: 768px) and (max-width: 1199px) {

    .instagram_img1, .instagram_img2, .instagram_img3  {
        width: 250px;
        height: 249px;
    }

    .instagram_img4 {
        display: none;
    }
}

@media (max-width: 767px) {

    h4 {
        display: none;
    }

    .section_instagram {
        background-color: transparent;
    }

    .instagram_img1 {
        width: 301px;
        height: 301px;
    }

    .instagram_img2, .instagram_img3, .instagram_img4 {
        display: none;
    }
}    