@import "./src/scss/mixins";
@import "./src/scss/variables";
@import "./header.scss";
@import "./section_posts.scss";
@import "./section_instagram.scss";
@import "./footer.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}

.container {
    min-width: 1200px;    
}

.container-content {
    width: 1170px;  
}

.space_between {
    @include flex-sp-between;
}

main {
    padding-top: 66px;
    @include flex-center;
}

h1 {
    @include font-700; 
    color: $color-title;
    font-size: $font-l;
    line-height: $lineH-s;
    text-transform: uppercase;
    padding-bottom: 24px;
}

h4 {
    @include font-700;
    color: $color-title;
    font-size: $font-s-m;
    line-height: $lineH-s;
    text-transform: uppercase;
}

@media (min-width: 768px) and (max-width: 1199px) {

    .container {
        min-width: 768px;    
    }

    .container-content {
        width: 768px;  
    }

    main {
        padding-top: 56px;
    }
}   

@media (max-width: 767px) {

    .container {
        min-width: 320px;    
    }

    .container-content {
        width: 320px;  
    }

    main {
        padding-top: 38px;
    }

    h1 {
        font-size: $font-m;
    }

}






